*,
*::after,
*::before {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.grid {
    display: grid;
    height: 100vh;
    gap: 1rem;
    
    grid-template-areas:
    "A A A A A A A A"
    ". B B B B B B ."
    ". B B B B B B ."
    "C C C C C C C C";
}