h1 {
  font-size: 7rem;
  font-family: $font-1;
}

h2 {
  font-size: 7rem;
  font-family: $font-1;
  color: $color-tertiary;
}

h3 {
  font-size: 4rem;
  font-family: $font-1;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-size: 2.3rem;
  font-family: $font-2;
  @include respond(mobile-port) {
    font-size: 3.5rem;
  }
}

.typewriter-font {
  font-family: 'Special Elite', cursive;
  
  overflow: hidden;
  border-right: .5rem solid black;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .5rem; /* Adjust as needed */
  animation: 
    typing 1.5s steps(25, end),
    blink-caret .9s step-end infinite;
}
