.copy {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  
  margin-bottom: 5rem;

  &__header {
    display: flex;
    align-self: center;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    
    &-title {
      // align-self: center;
      // text-align: center;
      justify-self: stretch;
    }

    &-subtitle {
      margin-top: 6rem;
      font-size: 5rem;
      text-align: center;
    }
  }

  &__document {
    margin-top: 5rem;
    grid-column: 3 / 9;
    justify-self: center;

    @include respond(mobile-port) {
      margin: 5rem 5rem;
    }
    iframe{
      border: $color-primary 1px solid;
  
    }
  }
  
  &__audio {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    margin: 0 25rem;
    grid-column: center-start / center-end;
    @include respond(mobile-port) {
      margin: 0 14rem;
    }

    audio {
       align-self: stretch; 
       width: 100%;
    }

    p{
      text-align: center;
      font-weight: 400 !important;
    }

    &-clip {
      margin: 3rem 0;
      align-self: center;

      
    }
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      font-weight: 400 !important;
    }
    
    img {
      width: 90%;
      @include respond(mobile-port) {
        width: 100%;
      }
    }
  }
}