.copy {


  align-items: center;
  margin-bottom: 5rem;

  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 18rem)[col-end]) [center-end] 1fr [full-end];
  
  &__header {
    margin-top: 10rem;
    grid-column: center-start / center-end;

    &-title {
      align-self: center;
      text-align: center;
    }

    &-subtitle {
      margin-top: 6rem;
      font-size: 5rem;
      text-align: center;
    }
  }

  &__document {
    margin-top: 5rem;
    grid-column: center-start / center-end;
    justify-self: center;

    @include respond(mobile-port) {
      margin: 5rem 5rem;
    }
    iframe{
      border: $color-primary 1px solid;
  
    }
  }
  
  &__audio {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    margin: 0 25rem;
    grid-column: center-start / center-end;
    @include respond(mobile-port) {
      margin: 0 14rem;
    }

    p{
      text-align: center;
      
    }

    &-clip {
      margin: 3rem 0;
      align-self: center;
      width: 50%;
    }
  }

  &__feedback {
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 75%;
      @include respond(mobile-port) {
        width: 100%;
      }
    }
  }
}