.home {
  grid-column: 2 / 9;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
  @include respond(tab-land_laptop) {
    grid-template-rows: 75vh;
  }
}