.footer {
  background-color: $color-grey-dark;
  grid-column: 1 / -1;

  @include respond(tab-land_laptop) {
    
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;

    &__item,
    &__item:link,
    &__item:visited {

      align-items: center;
      font-size: 2rem;
      color: inherit;
      font-family: $font-1;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all .2s;
      text-decoration: none;
      &:hover,
      &:active {
        transform: translateY(-.5rem);
      }
      span {
        font-size: 3rem;
        padding-right: 1rem;
      }
    }
  }
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-dark;
    font-size: 1.4rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
    

    &-year {
      color: $color-white;
      margin-right: 2.5rem;

    }
    &-img{
      width: 10%;
      margin-left: 2.5rem;
    }
  }
  
}