@keyframes shake {
  0% {
    transform: rotate(0deg);
    box-shadow: none; }
  10% {
    transform: rotate(14deg);
    box-shadow: none; }
  20% {
    transform: rotate(-8deg);
    box-shadow: none; }
  30% {
    transform: rotate(14deg);
    box-shadow: none; }
  40% {
    transform: rotate(-4deg);
    box-shadow: none; }
  50% {
    transform: rotate(10deg);
    box-shadow: none; }
  60% {
    transform: rotate(0deg);
    box-shadow: none; }
  100% {
    transform: rotate(0deg);
    box-shadow: none; } }

@keyframes rise {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    background-color: white; }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.grid {
  display: grid;
  height: 100vh;
  gap: 1rem;
  grid-template-areas: "A A A A A A A A" ". B B B B B B ." ". B B B B B B ." "C C C C C C C C"; }

.header {
  grid-area: A; }
  .header__nav__link:link, .header__nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .header__nav__link:hover, .header__nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.carousel {
  height: 90vh;
  background-color: #E4E4E7;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; }
  .carousel__item {
    height: 80vh; }
  .carousel__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 90%;
    align-items: center;
    justify-content: center;
    border: #FFA035 1px solid; }
  .carousel__caption {
    background-image: linear-gradient(to right, rgba(59, 60, 59, 0.3), rgba(59, 60, 59, 0.3));
    width: 30%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    color: #3B3C3B; }
    .carousel__caption-1 {
      background-image: linear-gradient(to right, rgba(59, 60, 59, 0.3), rgba(59, 60, 59, 0.3));
      color: #FAF4EC; }

.carousel-control-next-icon {
  width: 5rem;
  height: 5rem;
  transition: all .3s; }
  .carousel-control-next-icon:hover {
    background-color: #355C74; }

.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
  transition: all .3s; }
  .carousel-control-prev-icon:hover {
    background-color: #355C74; }

.footer {
  background-color: #3B3C3B;
  padding: 2rem;
  grid-area: C; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  align-items: center; }
  @media only screen and (max-width: 46.87em) {
    .nav {
      list-style: none;
      display: flex;
      justify-content: space-around; } }
  .nav__item, .nav__item:link, .nav__item:visited {
    align-self: center;
    font-size: 2rem;
    color: inherit;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
    @media only screen and (max-width: 46.87em) {
      .nav__item, .nav__item:link, .nav__item:visited {
        padding: .5rem; } }
    .nav__item:hover, .nav__item:active, .nav__item:link:hover, .nav__item:link:active, .nav__item:visited:hover, .nav__item:visited:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }
    .nav__item i, .nav__item:link i, .nav__item:visited i {
      font-size: 5rem; }
    .nav__item a, .nav__item a:link, .nav__item a:visited, .nav__item:link a, .nav__item:link a:link, .nav__item:link a:visited, .nav__item:visited a, .nav__item:visited a:link, .nav__item:visited a:visited {
      color: inherit;
      font-size: 2rem;
      text-decoration: none; }

.copyright {
  font-size: 1.4rem;
  color: #FAF4EC;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
  margin-top: 5rem; }

.home__grid {
  grid-area: B;
  padding: 5rem 0; }
  .home__grid h3 {
    padding-top: 5rem;
    text-align: center; }

.home__title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem min-content; }
  .home__title-heading {
    font-size: 3.5rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .home__title-heading {
        font-size: 3rem; } }
  .home__title-emoji, .home__title-emoji:link, .home__title-emoji:visited {
    font-size: 10rem;
    text-decoration: none;
    animation: shake 2.5s infinite;
    transform-origin: 50% 50%;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .home__title-emoji, .home__title-emoji:link, .home__title-emoji:visited {
        font-size: 8rem; } }
    .home__title-emoji:hover, .home__title-emoji:link:hover, .home__title-emoji:visited:hover {
      cursor: pointer; }
  .home__title-subheading {
    font-size: 2rem;
    text-align: center; }

.home__menu {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem; }
  .home__menu-selection, .home__menu-selection:link, .home__menu-selection:visited {
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    transition: all .01s; }
    .home__menu-selection span:hover, .home__menu-selection:link span:hover, .home__menu-selection:visited span:hover {
      animation: rise 1s infinite; }
    @media only screen and (max-width: 56.25em) {
      .home__menu-selection span:active, .home__menu-selection:link span:active, .home__menu-selection:visited span:active {
        transform: scaleY(-2rem);
        border: #ACDBDB 1px solid;
        animation: none; } }
  .home__menu p {
    font-size: 2rem;
    align-self: center; }

.dev__grid {
  grid-row: 1 / 2; }
