//COLORS
$blonde-wood: #AB7741;
$blazing-bonfire: #FFA035;
$beachside-drive: #ACDBDB;
$shasta-lake: #355C74;
$flirt-alert: #BE3C37;
$beachside-flirt: linear-gradient(to right bottom, $beachside-drive, $flirt-alert);

$lilac-mist: #E4E4E7;
$ashberry: #A29FA8;
$virtuoso:#5D5558;

$color-white: #fff;
$polar-bear: #FAF4EC;

$limo-leather: #3B3C3B;
$color-black: #000;