//COLOR THEME
$color-primary: #01AAE4;
$color-secondary: #6EC362;
$color-tertiary: #ACDBDB;


$color-grey-light: #E4E4E7;
$color-grey-medium: #A29FA8;
$color-grey-dark:#5D5558;

$color-white: #fff;
$color-off-white: #FAF4EC;
$color-black: #000;
$limo-leather: #3B3C3B;

//FONT THEME
$font-1: 'Montserrat', sans-serif;
$font-2: 'Raleway', sans-serif;

//REACT ICONS
//AiFillGithub